<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="valueinconfigfile" value="IExist!"/>
    <add key="valueinconfigfileandenvironmentvariable" value="I'mHereAsWell"/>
    <add key="trello.appKey" value="65fb3a8f5f0be457d701f4dccfa14090" />
  </appSettings>
</configuration>